{% extends "padre.html" %}

{% load static %}

{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'app_coder/assets/img/testimonials-2.jpg' %}..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lopez Juan</h5>
                  <p class="card-text">Muy buen estudiante</p>
                  <a href="#" class="btn btn-primary">Ver Notas</a>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6 ">
            <div class="card">
                <img src="{% static 'app_coder/assets/img/testimonials-2.jpg' %}..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lopez Juan</h5>
                  <p class="card-text">Muy buen estudiante</p>
                  <a href="#" class="btn btn-primary">Ver Notas</a>
                </div>
              </div>
        </div>
  
</div>




{% endblock %}


